<b> Hello </b>
<p>
    Someone took the AMM survey. Following are the details
</p>
<table width="50%">
    <thead>
        <th width="33%">IP</th>
        <th width="33%">Score</th>
        <th width="33%">Level</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<p>Regards</p>
<p><img width="100" height="100" src="cid:logo"></p>

